body {
   text-align: center; 
}

html {
   background: url("https://lh3.googleusercontent.com/PS9F2OKkbLP5sFlnc5sLaum3zzKeiOTnj_u0iWapE_xPAONpJv22ARKbhNPc5d68ItOsZodvz-RONOfDWTeCtWt4FiyqGQLbMFz0bkN9u5fLuDryZYbf_bL9nhcIWxLhCVznUscjUvi2HL_Yc9I1DRVpMzS-sAQaf9IZtlauIjlG_iiNOznl2TIA3SmT08gU-66kJIRB3pgUK82NQiU79PXE4-wZIyoWTz5twYbxEli7QzdVWL3VOHTM8zw4ac2lk6RYf3npSR_4olpV99nrd2-4Skyd12hne7IESgUFvtdlOjLRITW6o9G38Q3jov5tBWxwMDk7E3ihrEgiJ8713ZQp-Wh4ViV0lcPouwNbv4o74b5pXfpPXKLpc_d01q4WztgetjdgEk8mGWowD07JcALIIvLgWKCHccBtr1OgOwY3zBiEqSUyebF0kUtSmw7IvfjqO5gW8UI7VuFhWPAecQVd0Bt0CZFK6CMI4qXn0j3esMZ8BZ2uvCpiCzWgLpr27BmmEOGrU1_2yhSNir5i-9ozyveqy81REedST7ja0c-1yZoPKsAl_Ol3-nX7U4k3feFobKdkHns_NrgWytzvGNF1hK4c-HkQDTv4RK4Ls-Tl9L5AXorVudXteFyRHPv6NSNMbbfQYkCRxO7E0hrpiVpFzfFLmCgemLwKTWOGIJ31UxjTZp-fppSlc2EXPQ=w1146-h1528-no?authuser=0") no-repeat center center fixed;
   background-size: cover;
   height: 100%;
   overflow: hidden;
 }

 h1 {
    opacity: 0.0 ;
 }
